/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}

table.table-form {
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    width: 100%;
}

td.label {
    font-weight: bold;
    padding: 20px;
    text-align: right;
    width: 30%;
    border-right: 1px solid #ccc;
}

td.input {
    padding: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

td.button {
    text-align: center;
    padding: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

ul.error-list {
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
