/* Estilo para el contenedor del formulario de añadir productos */
.formulario {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo para los campos de entrada del formulario */
.form-group {
    margin-bottom: 10px;
}

/* Estilo para el botón "Añadir producto" */
.btn-primary {
    margin-top: 10px;
}

/* Estilo para la tabla de productos agregados */
.table {
    width: 40%;
    border-collapse: collapse;
}

/* Estilo para el encabezado de la tabla */
.table thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

/* Estilo para las filas del cuerpo de la tabla */
.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Estilo para el botón "Realizar pedido" */
button[type="submit"] {
    margin-top: 20px;
}